.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #008080;
}

.Submenu-Navbar {
    padding: 0 24px;
    line-height: 64px;
    margin-left: auto;
}

.div-logo {
    height: 32px;
    margin: 16px 16px 26px 16px;
    background: rgba(255, 255, 255, 0.3);
}

.div-logo-collapsed {
    width: 80px;
    height: 64px;
}

.icone-logo-collapsed{
    margin-top: 1.4vh;
}

.logo {
    width: 100%;
    transition: width 2s;
}
.logopequena {
    max-width: 47px;
    transition: width 2s;
}
.site-layout .site-layout-background {
    background: #fff;
}

.site-layout {
    height: 100vh;
}